.row {
    display: flex;
    flex: 1;
    margin: 0 !important;
    overflow: hidden;
}
.height-full {
    height: 100%;
}
.left-column {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-bg);
    overflow-y: auto;
}
.welcoming-title {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 30px;
    font-weight: bold;
}
.form {
    width: 100%;
    max-width: 400px;
}
.sign-up-prompt,
.login-prompt {
    margin-top: 20px;
    font-size: 1rem;
}
.sign-up-link,
.log-in-link {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: underline;
}
.right-column {
    flex: 1;
    background-image: url("../img/wema_bus_sunset.png");
    background-size: cover;
    background-position: center;
    border-left: 5px solid white;
    display: none;
}
@media (min-width: 768px) {
    .right-column {
        display: block;
    }
}